{% extends "pages/page.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles blog_tags keyword_tags %}

{% block top %}{% endblock %}
{% block main %}
<!--
This template is provided as a custom template for the homepage, for
when it is configured as an editable page in the navigation tree. Feel
free to modify it.
-->
{{ block.super }}

{% if page.homepage.slides.all %}


<section class="no-margin" id="main-slider">
        <div class="carousel slide wet-asphalt">
            <ol class="carousel-indicators">
                <li data-slide-to="0" data-target="#main-slider" class="active"></li>
                <li data-slide-to="1" data-target="#main-slider" class=""></li>
                <li data-slide-to="2" data-target="#main-slider" ></li>
            </ol>
            <div class="carousel-inner">
				 {% for slide in page.homepage.slides.all %}
                <div style="background-image: url({{ MEDIA_URL }}{% thumbnail slide.image 1920 690 %})" class="item {% cycle 'active' '' '' %}">
                    <div class="container">
                        <div class="row">
                        {% if slide.video %}   
					<div class="col-sm-6">
                                <div class="carousel-content centered center" >
                                    <h2 class="animation animated-item-1 boxed">	   {{slide.heading}}</h2>
                                    <p class="animation animated-item-2 boxed">{{slide.subheading}}</p>
                                    <br>
                                    <a href="#" class="btn btn-md animation animated-item-3">Learn More</a>
                                </div>
                            </div>
     <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="centered">
                                    <div class="embed-container">
                                        <iframe src="{{slide.video}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                        
			{% else %}
			<div class="col-sm-12">
                                <div class="carousel-content centered center"" >
                                    <h2 class="animation animated-item-1 boxed">{{slide.heading}}</h2>
                                    <p class="animation animated-item-2 boxed">{{slide.subheading}}</p>
                                    <br>
                                    <a href="#" class="btn btn-md animation animated-item-3">Learn More</a>
                                </div>
                            </div>
{% endif %} 
                        </div>
                    </div>
                </div><!--/.item-->
 
                 {% endfor %}  
                 </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a data-slide="prev" href="#main-slider" class="prev hidden-xs">
            <i class="icon-angle-left"></i>
        </a>
        <a data-slide="next" href="#main-slider" class="next hidden-xs">
            <i class="icon-angle-right"></i>
        </a>
 </section>   

{% endif %}


 <section id="testimonial" class="alizarin">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center">
                        <h2>{{page.homepage.heading}}</h2>
                        <p>{{page.homepage.subheading}}</p>
                    </div>
                    <div class="gap"></div>
                    <div class="row">
                        <div class="col-md-12">
                       <p>{{ page.homepage.content|richtext_filters|safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#testimonial-->




{% if items%}
<section id="recent-works">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Our Latest Project</h3>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <div class="btn-group">
                        <a data-slide="prev" href="#scroller" class="btn btn-danger"><i class="icon-angle-left"></i></a>
                        <a data-slide="next" href="#scroller" class="btn btn-danger"><i class="icon-angle-right"></i></a>
                    </div>
                    <p class="gap"></p>
                </div>
                <div class="col-md-9">
                    <div class="carousel slide" id="scroller">
                        <div class="carousel-inner">
							{% for itemSet in items %}
                            <div class="item {% cycle 'active' '' %}">
                                <div class="row">
									
									{% for item in itemSet %}
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img alt="" src="{{ MEDIA_URL }}{% thumbnail item.featured_image 370 250 %}" class="img-responsive">
                                                <h5>
                                                   {{item.title}}
                                                </h5>
                                                <div class="overlay">
                                                    <a rel="prettyPhoto" href="{{ MEDIA_URL }}{% thumbnail item.featured_image 1920 690 %}" title="Malesuada fames ac turpis egestas" class="preview btn btn-danger"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    {% endfor %}                    
                                    
                                </div><!--/.row-->
                            </div><!--/.item-->
                             {% endfor %}  
                           
                          
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div>
    </section>
{% endif %}

{% if agendas%}
<section id="recent-works">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Our Latest Project</h3>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <div class="btn-group">
                        <a data-slide="prev" href="#scroller1" class="btn btn-danger"><i class="icon-angle-left"></i></a>
                        <a data-slide="next" href="#scroller1" class="btn btn-danger"><i class="icon-angle-right"></i></a>
                    </div>
                    <p class="gap"></p>
                </div>
                <div class="col-md-9">
                    <div class="carousel slide" id="scroller1">
                        <div class="carousel-inner">
							{% for agendaSet in agendas %}
                            <div class="item {% cycle 'active' '' %}">
                                <div class="row">
									
									{% for agenda in agendaSet %}
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img alt="" src="{{ MEDIA_URL }}{% thumbnail agenda.featured_image 370 250 %}" class="img-responsive">
                                                <h5>
                                                   {{agenda.title}}
                                                </h5>
                                                <div class="overlay">
                                                    <a rel="prettyPhoto" href="{{ MEDIA_URL }}{% thumbnail agenda.featured_image 1920 690 %}" title="Malesuada fames ac turpis egestas" class="preview btn btn-danger"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    {% endfor %}                    
                                    
                                </div><!--/.row-->
                            </div><!--/.item-->
                             {% endfor %}  
                           
                          
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div>
    </section>
{% endif %}

{% endblock %}

